@import "hf";
$primary-color: #49ff87;
$secondary-color: #3A3A3A;
$third-color: #757575;

.parallax{
  background: url(../pic/mpcover.jpg) fixed ;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  z-index: 2;
  left: 0;
  top: -17%;
  width: 100%;
  height: 134.7222222222222%;
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .fullscreen__title{
    color: $primary-color;
    transform: translate(0px, 13%);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    text-decoration: none;
  }
}
.parallax_link{
  background: url(../pic/mpfootercover.jpg) fixed ;

  min-height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.fullscreen__title._active, .case_card._active,
.spoiler._active, .designs_link._active{
  transform: translate(0px, 0px);
  opacity: 0.8;
}
.project_date{
  text-align: center;

  .date_group{
    padding-top: 5vh;
    margin: 0 auto;
    color: $third-color;
    display: inline-block;

    .launched{
      font-weight: 700;
      opacity: 0.7;
    }
    .date{
      font-weight: 500;
    }
  }
}
.separator-line {
  position: relative;
  z-index: 30;
  margin: 50px auto;
  width: 2px;
  height: 112px;

 }
.separator-line:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  background: $primary-color;
}
.half-field{
  display: flex;
 justify-content: space-around;
  .project_header{
    font-size: 40px;
    min-width: 50%;
    font-weight: 700;
  }
  .project_paragraph{
    font-size: 30px;
    min-width: 50%;
    color: $third-color;
  }
}
.main_mockup {
max-width: 100%;
  background-repeat: no-repeat;
}

.design{
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  color: #000000;
p{
  font-size: 20px;
  font-weight: normal;
}

}
.case-project-link{

.center{
 color: white;
  font-weight: 400;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}
  a{
    text-decoration: underline;
    color: $primary-color;
    font-size: 40px;
    font-weight: 700;

  }
}
.tg_btn{
  text-decoration: none;
}
button {
  margin: 0 auto 50px  auto;
  font-family: inherit;
  font-size: 18px;
  background: $secondary-color;
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;



}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}
button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
  text-decoration: none;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}
@media (max-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 970px;
  }
  .half-field .project_header{
    font-size: 30px;
  }
  .half-field .project_paragraph{
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .half-field .project_header{
    font-size: 24px;
  }
  .half-field .project_paragraph{
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .half-field{
    display: block;
  }
  .half-field .project_header{
    padding-bottom: 20px;
    font-size: 20px;
  }

  .parallax{
    padding-top: 50px;
    min-height: 300px;
  }
  .parallax_link{
    min-height: 300px;
  }

  .parallax h1{
    font-size: 54px;
  }
  .parallax_link a{
    font-size: 24px;
  }
  .header_inner {
    height: 50px;
  }
  .logo {
    z-index: 3;
    margin: 0;
    height: 47px;
  }
  .container {
    margin: 0 auto;
    max-width: 420px;
  }
  .header_burger {
    display: block;
    position: relative;
    margin: auto 20px auto 0;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header_burger span {
    position: absolute;
    background-color: #fd7901;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .header_burger:before, .header_burger:after {
    content: "";
    background-color: #fd7901;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .nav {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 70px 10px 5px 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    overflow: auto;
  }
  .nav.active {
    top: 0;
  }
  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .main_link {
    margin: 0 0 10px 0;
    text-align: left;
  }
  .container {
    margin: auto;
    max-width: 400px;
  }
}
@media (max-width: 425px) {
  .container {
    max-width: none;
  }
  .parallax{
    padding-top: 50px;
    min-height: 200px;
  }
  .parallax_link{
    min-height: 200px;
  }

  .parallax h1{
    font-size: 30px;
  }
}