body, header{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
    .container{
        margin: 0 auto;
        max-width: 1575px;
        padding: 0 25px;
    }
h1{
    color: #FF7A00;
    font-weight: 700;
    font-size: 90px;
}
h2,h3{
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
}
h3{
    text-decoration: underline;
}
.case_cards a{
    margin-top: 5%;
    text-decoration: none;
}
.header{
    width: 100%;
    Z-index:  1000;
}
    .header__inner{
        max-width: 1720px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
        .logo{
            font-size: 48px;
            font-weight: 700;
            padding-top: 20px;
            margin-left: 20px;
            color: #3A3A3A;
        }
        .nav{
            padding-top: 20px;
            margin-right: 20px;
        }
            .main_link{
                color: #3A3A3A ;
                font-size: 20px;
                font-weight: 700;
                text-decoration: none;
                display: block;
                text-align: right;
                transition: 0.1s ease-in-out;

            }
                .main_link:hover{
                    color:#FF7A00
                }
                .orange{
                    color:#FF7A00;
                }
.body{

}
    .light-block{
        max-height: 660px;
        text-align: center;
    }

    .dark-block{
        background-color: #1E2225;
        padding-top: 50px;
        padding-bottom: 50px;
    }
        .case_card{
            max-width: 750px;
            transition: 0.2s ease-in-out;
        }
        .case_card:hover h3{
            color: #fd7901;
        }
        .case_card:hover {
            filter: drop-shadow(0px 0px 30px #944700);
        }

            .case_card_text, .second_floor_photos, .case_cards{
                display: flex;
                justify-content: space-between;
            }
            .case_cards{
                margin: auto;
                flex-wrap: wrap;
                padding: 0 2px;
            }
            .line{
                margin-top: 20px;
                height: 2px;
                background-color: #c4c4c4;
            }
            .case_card_photos, .second_photo_div, .third_photo_div{
                transition: 0.2s ease-in-out;
                max-width: 750px;
                overflow: hidden;
            }
            .main_photo{
                margin: 3% 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .second_photo_div{
                margin-right: 2%;
            }
            .second_photo{
                border-bottom-left-radius: 10px;
            }
            .third_photo{
                border-bottom-right-radius: 10px;
            }
            .main_photo,.second_photo,.third_photo{
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        .single_photos{
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 100%;
        }
        .single_photo_div{
            margin-top: 3.5%;
            filter: drop-shadow(5px 0px 30px #000000);
            max-width: 500px;
            overflow: hidden;
        }
        .single_photo{
            border-radius: 10px;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    .more_designs_button{
        margin-top: 1rem;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        font-size: 24px;
    }
    .more_designs_button a{
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #fd7901;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
    }
    .more_designs_button a:hover{
        background: #fd7901;
        color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px #fd7901,
                    0 0 25px #fd7901,
                    0 0 50px #fd7901;

    }
    .more_designs_button a span{
        position: absolute;
        display: block;
    }
    .more_designs_button a span:nth-child(1){
        top:0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#fd7901) ;
        animation: btn-anim1 1s linear infinite;
    }
    @keyframes btn-anim1 {

        0%{
            left:-100%
        }
        50%,100%{
        left: 100%;
        }
    }
.more_designs_button a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fd7901) ;
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}
@keyframes btn-anim2 {

    0%{
        top:-100%
    }
    50%,100%{
        top: 100%;
    }
}
.more_designs_button a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fd7901) ;
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3 {

    0%{
        right:-100%
    }
    50%,100%{
        right: 100%;
    }
}
.more_designs_button a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fd7901) ;
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}
@keyframes btn-anim4 {

    0%{
        bottom:-100%
    }
    50%,100%{
        bottom: 100%;
    }
}




footer{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    height: 80px;
    background-color: #3a3a3b;
    margin:  0 auto;
    padding-top: 5px;
}
.rights{
    text-align: center;
    font-weight: 200;
    font-size: 13px;
    margin: 0 auto 20px;

}
.sm{
    justify-content: space-around;
    display: flex;
    padding: 6px 20px;
    margin: 0 auto;
    max-width: 300px;
}
.link_f{
    filter: grayscale(100%);
    width: 40px;
    transition: 0.1s ease-in-out;
}
.link_f:hover{
   filter: none;
}



@media (max-width:1600px) {
    .container{
        margin: 0 auto;
        max-width: 1220px;
    }
    .case_card{
        max-width: 580px;
    }
    .single_photo_div{
        max-width: 310px;

    }
    h2,h3{
        font-size: 20px;
    }
    .line{
        margin-top: 10px;
    }



}
@media (max-width:1220px) {
    .case_card{
        max-width: 470px;
    }
    .container{
        margin: 0 auto;
        max-width: 970px;
    }
    h1 {
        font-size: 75px;
    }
    h2,h3 {
        font-size: 15px;
    }




}
@media (max-width:992px) {
    .container{
        margin: 0 auto;
        max-width:650px;
    }
    .case_card{
        max-width: 310px;
    }

    .case_card_photos{
        filter: none;
    }
    .single_photo_div{
        margin-top: 5%;
    }
    h1 {
        font-size: 60px;
    }
    h2,h3{
        font-size: 12px;
    }
    .dark-block{
        padding-top: 10px;
    }


}
@media (max-width:767px) {


    .container{
        margin: 0 auto;
        max-width: 381px;
    }
    .case_cards a{
        margin: 5% auto auto;
    }
    .case_card{
        max-width: 280px;
        margin: auto;
     }
    .case_card:hover{
        filter: none;
    }
    .single_photos{
        max-width: 280px;
        margin: auto;
    }
    .single_photo_div{
        max-width: 130px;

    }

    .logo{
        font-size: 23px;
    }
    .main_link{
        font-size: 18px;
    }
    .nav{
        padding-top: 23px;
    }
    h1{
        font-size: 25px;
    }
    h2, h3{
        font-size: 11px;
    }
    .line{
        margin-top: 5px;
    }
}

@media (max-width:380px) {
    h2,h3{
        font-size: 10px;
    }
    h1{
        font-size: 20px;
    }
    .logo{
        font-size: 17px;
    }
    .nav{
        padding-top: 22px;
    }
    .main_link{
        font-size: 15px;
    }

}